.table.table-striped.table-responsive
{
    margin-top: 50px;
    width:50%;
    background-color: white;
}
.table.table-striped.table-responsive thead
{
background-color:#407fed;
color: white;
}
.title
{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    text-align:center;
}
