
.form-signin {
  text-align: center;
  margin: auto;
  margin-top:4%;
  float:right;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating
{
    width:100%;
}

layout
{
    height:100%;
}
.logo-div{
width: 50%;
}

.logo-img{

width:75%; height:75%;
margin-left: 25%;
margin-top: 10%;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.w-100.btn.btn-lg{
    background-color: #010483;
    color: #FFFFFF;
}

.w-100.btn.btn-lg:hover{
    background-color: #386fcf;
    color: #FFFFFF;
}


@media only screen and (max-width: 1000px) {

   .logo-div{
    display: none;
   }
   .form-signin .form-floating
{
    width:100%;
}
  .form-signin {
    max-width: 500px;
    padding: 40px;
    text-align: center;
    margin: auto;
  }
}

