
body {
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.w-100.btn.btn-lg{
    background-color: #0FD77B;
    color: #FFFFFF;
}

.w-100.btn.btn-lg:hover{
    background-color: #0fbd6d;
    color: #FFFFFF;
}

.logo{
    width: 150px;
    height: 100px;
}