{% extends "base.html" %}

{% block title %}Register System{% endblock %}

{% block content %}


    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/logged_in">Transport4U</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="burgericon"><img src="/static/images/burgericon.png" class="burgericon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/logged_in">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#about">About Us</a>
                <a class="nav-item nav-link" href="#contact">Contact</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <h1 class="title">Timetable</h1>
    <center>
        <input class="search" type="text" placeholder="Search..">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Stops</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Arrival Time</th>
                <th scope="col">Operational</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for bus in buses %}
            <tr>
                <td>{{ bus['start'][0] }}</td>
                <td>{{ bus['end'][0] }}</td>
                <td>
                    {% for stop in bus['stops'] %}
                    {{ stop[0]}}
                    {% endfor %}
                </td>
                <td>{{ bus['times'][0] }}</td>
                <td>{{ bus['times'][1] }}</td>
                <td></td>
                <td><input type="button" value="Generate Qr" id="mybutton" onClick="qrCode"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </center>
</div>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  document.body.style.backgroundColor = "white";
}



</script>
{% endblock %}