<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<div class="layout" style="display: flex; justify-content: flex-end">
<div class="img-logo">
    <img class="logo" src="/static/images/buslogo.jpg" alt="logo">
    </div>
<main class="form-signin">
    <div class="float-right">
<form action="" method="POST">
    <h1 class="h1 mb-3 fw-normal">Transport4U</h1>
    </br>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        <input type="input" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    </br>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    </br>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <div class="register">
      <label>
        <a href="/register">Don't have an Account create one here</a>
      </label>
    </div>
    </br>
    <div class="guest-link">
    <a href="/">Continue As Guest</a>
    </div>
    </br>
    <button class="w-100 btn btn-lg" type="submit">Sign in</button>
    <a class="btn btn-outline-grey" href="/users/googleauth" role="button" style="text-transform:none">
          <img width="40px" style="margin-bottom:3px; margin-right:1px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Google Login</a>
    <p class="mt-2 mb-2 text-muted">&copy; Transport4U 2022</p>
  </form>
    </div>

</main>
    </div>
</body>
</html>