
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}
<main class="form-signin">
<form action="" method="POST">
    <img class="logo" src="/static/images/busFinalLogo2.png" alt="logo">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    </br>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    </br>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    <div class="register">
      <label>
        <a href="/register">Don't have an Account create one here</a>
      </label>
    </div>
    </br>
    <div class="guest-link">
    <a href="/">Continue As Guest</a>
    </div>
    </br>
    <button class="w-100 btn btn-lg" type="submit">Sign in</button>
    <div class="row">
    <div class="col-md-3">
        <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
          <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
        </a>
    </div>
    </div>
    <p class="mt-2 mb-2 text-muted">&copy; Transport4U 2022</p>
  </form>
</main>
{% endblock %}