{% extends "base.html" %}

{% block title %}My Tickets{% endblock %}

{% block content %}#

<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="index.html"><span>Transport4U</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/logged_in">Home</a></li>
                <li><a class="nav-link scrollto " href="/buses">Timetables</a></li>
                <li><a class="nav-link scrollto active" href="/mytickets">Your Ticket</a></li>
                <li><a class="nav-link scrollto" href="/logout">Logout</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<section id="hero">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1><span>My Tickets</span></h1>
                    <h2></h2>
                    <div class="text-center text-lg-start">
                        <a href="/logged_in" class="btn-get-started scrollto">Return</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="/static/images/ticketlandingimage.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
        </g>
    </svg>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="features" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 ticket-box d-flex justify-content-center align-items-stretch"
                     data-aos="fade-right">
                    <img src="/static/images/qrcode001.png" style="width:400px; height:400px;">
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                     data-aos="fade-left">
                    <h3><span>Your Ticket</span></h3>
                    <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima
                        temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam
                        sint et id nulla tenetur. Suscipit aut voluptate.</p>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-bus"></i></div>
                        <h4 class="title"><a href="">Route</a></h4>
                        {% for bus in buses %}
                        {% for stop in bus['stops'] %}
                        <div class="timeline">
                            <div class="timeline-container">
                                <div class="timeline-content">
                                    <h7>{{ stop[0]}}</h7>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-stop"></i></div>
                        <h4 class="title"><a href="">Chosen Stop</a></h4>

                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-user"></i></div>
                        <h4 class="title"><a href="">Bus Capacity</a></h4>
                        <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="--value: 75"></div>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <div onload="keepAlive(); time(); setupPubNub();">

        <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.0.js%22%3E"></script>
        <script src="/static/js/main.js"></script>
        <h1> Online </h1>
        <h2>Connection: <span id="Connection_id">...</span></h2>
        <h2>Motion: <span id="motion_id">...</span></h2>
    </div>

</main>
{% endblock %}