{% extends "base.html" %}
{% block title %}Register System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<main class="form-signin">
<form action="" method="POST">
    <img class="logo" src="/static/images/busFinalLogo2.png" alt="logo">
    <h1 class="h3 mb-3 fw-normal">Register Account</h1>

    <div class="form-floating">
        <input type="text" name="fullname" class="form-control" id="floatingFullname" placeholder="First name Last name">
        <label for="floatingFullname">Fullname</label>
    </div>
    </br>
    <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
        <label for="floatingEmail">Email address</label>
    </div>
    </br>
    <div class="form-floating">
        <input type="password" name="password1" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password2" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password">
        <label for="floatingConfirmPassword">Confirm Password</label>
    </div>
    </br>
    <div class="login">
      <label>
        <a href="/">Login to your Account</a>
      </label>
    </div>
    </br>
    <button class="w-100 btn btn-lg" type="submit">Sign in</button>
    <p class="mt-2 mb-2 text-muted">&copy; Transport4U 2022</p>
</form>
</main>
{% endblock %}