<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body onload="keepAlive(); time(); setupPubNub();">
        <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.0.js%22%3E"></script>
        <script src="static/js/motion.js"></script>
        <h1> Online </h1>
        <h2>Connection: <span id="Connection_id">...</span></h2>
        <h2>Motion: <span id="motion_id">...</span></h2>
        <div>
            <input type="checkbox" id="buzzer" onclick="handleClick(this);"/>
            <label id="buzzer_on">Buzzer On</label>
        </div>
    </body>
</html>